<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Thông</p>
    <p>Đây là trang chủ</p>
    <button onclick="window.location.href='/user'">Users</button>
<!--  <a href="/getAllUser">Get All User</a>-->
<!--    <a href="/getUser">Get All User</a>-->
<!--  <button onclick="window.location.href='/getAllUser'">Get All User</button>-->
  </body>
</html>
